.products-container {
  background-color: #262626;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.show-products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  width: 90%;
  max-width: 1200px;
  margin-top: 30px;
  padding-bottom: 50px;
  max-height: calc(100vh - 150px);
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px;
  scrollbar-width: none;
}

@media (max-width:1200px) {
  .show-products {
    margin-top: 80px;
    max-height: calc(100vh - 130px);
  }
}